.left-half, .right-half {
	width: 50%;
}
.right-half {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	box-sizing: border-box;
}
.drop {
	box-shadow: 0px 0px 5px 0px rgba(138,138,138,1);
	height: 300px;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 12px;
  	cursor: pointer;
  	transition: all .2s;
  	display: flex;
  	flex-direction: row;
}
.drop:hover {
	transform: translateY(-3px);
	box-shadow: 0px 0px 12px 0px rgba(51,124,91,1);
}
.drop-title {
	font-size: 25px;
}

.image {
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.brand {
  	font-size: 18px;
}
.name {
  	font-size: 18px;
}
.date {
  	margin-top: 20px;
  	font-size: 13px;
}
.image-link {
	display: block;
	width: 75%;
	color: black;
	float: right;
	margin-right: 25px;
}
.image-link:link, .image-link:visited, .image-link:hover, .image-link:active {
	text-decoration: none;
	color: black;
}
#content-wrapper {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
#drop-container {
	width: 50%;
}
#content-wrapper {
	width: 50%;
	margin-top: 120px;
}
.comment-top {
	width: 100%;
}
.comment-bottom {
	width: 100%;
}
.text-container {
	width: 100%;
}
.text-container {
	font-size: 24px;
}
.user-container {
	display: inline-block;
	margin-right: 15px;
}
.user-container p {
	font-size: 18px;
}
.date-container {
	display: inline-block;
}
.date-container p {
	font-size: 12px;
}