<div id="data-entry-container">
	<form action="/enter" method="post" >
		<input type="text" name="postTitle">
		<input type="text" name="brand">
		<input type="text" name="name">
		<input type="text" name="description">
	   	<br>
	   	<button type="submit">Submit</button>
	</form>
</div>