<nav>
	<div class="left-header">
		<p>SoundCloud App</p>
	</div>
	<div class="right-header">
		<p>Joon Hee Choi</p>
	</div>
</nav>

<style>
	nav {
		height: 70px;
		width: 100%;
		display: flex;
	}
	.left-header, .right-header {
		width: 50%;
		display: flex;
	}
	.left-header {
		text-align: left;
		background-color: black;
	}
	.right-header {
		text-align: right;
		background-color: black;
	}
	p{
		color: white;
	}
</style>