<form id ="search-form">
	<input type="text" id="query" value="" class="form-control" placeholder="Paste SoundCloud Link Here"/>
    <input type="submit" id="search" class="btn btn-primary" value="Search" />
</form>
<style>
	form{
		width:75%;
	}
</style>